@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');

.portfolio {
    margin-top: 30px;

    &__wrapper {
        &__project {
            padding-bottom: 30px;
            transition: .5s;
            width: fit-content;

            &__links {
                position: absolute;
                z-index: 999;
                font-family: 'IBM Plex Mono', monospace;
                a {
                    cursor: pointer;
                    position: relative;
                    color: white;

                    h4 {
                        font-weight: 500;
                        font-size: 14px;
                    }
                }
            }


            #background1 {
                visibility: visible !important;
            }

            &__background {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100vh;
                overflow: hidden;
                visibility: hidden;
                opacity: 0;
                transition: .5s;

                img {
                    width: 100%;
                    height: 100vh;
                    object-fit: cover;
                }

                .owl-carousel {
                    position: relative;

                    .owl-dots {
                        display: none;
                    }

                    .owl-item {

                        &::after {
                            content: '';
                            width: 100%;
                            height: 100vmin;
                            background-size: cover;
                            position: absolute;

                            top: 0;
                            left: 0;
                            background-color: black;
                            opacity: .4;
                            z-index: 1;
                            cursor: pointer;
                        }
                    }
                }
            }

            &:hover {
                .portfolio__wrapper__project__background {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        a {
            margin-bottom: 50px;
        }
    }
}

.active {
    a {
        &::after {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: #07A804;
        }

        color: #07A804;
    }
}

@media(max-width:992px) {
    .portfolio{
        &__wrapper{
            &__background{
                object-fit: contain;
                img{
                }
            }
            .owl-carousel .owl-item{
                &:after{
                    height: 100vh;
                }
            }
            .owl-carousel .owl-item img{
                object-fit: contain !important;
                
            }
        }
    }
}
